/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, object, iframe, fieldset {
  margin: 0  !important;
  padding: 0  !important;
  border: 0 !important; }

ol.timeline , .timeline ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/
/************Global**************/




.timeline h1 {
  font-size: 2em;
  letter-spacing: -0.02em;
  margin-bottom: 0.8em; }


.timeline h2 {
  text-transform: lowercase;
  font-size: 1.6em;
  margin: 0 0 0.4em; }

.timeline h3 {
  font-size: 1.4em;
  margin: 0 0 0.2em;
  text-transform: lowercase; }

hr {
  border: none;
  margin: 1em 0;
  border-bottom: #ddd solid 1px;
}

/************End Global**************/
/************Timeline**************/
/* Timeline Container */

.tl-content {
  font-weight: bold;
}

ol.timeline {
  border-left: 2px solid #dddddd;
  padding-bottom: 3em;
  padding-right: .5em;
  margin: 1.5em;

  position: relative; }
  .timeline:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1.47em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #dddddd;
    border: 2px solid #dddddd; }

/* Individual Timeline Item */
.tl-node {
  padding-left: 2em;
  margin-bottom: 2em;
  padding-top: .3em;
  position: relative; }
  .tl-node a {
    display: block; }
  .tl-node:before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #dddddd;
  }



  &.deliverable {
    margin-top: -1em;
    &:before {
      left: -11px;
      top: 5px;
      width: 20px;
      height: 20px;
      background-color: #D1473A;
    }
  }

/* Timestamp */
.tl-stamp {
  font-size: 1.1em;
  margin-bottom: .25em;
  color: gray; }

/************End Timeline**************/
/************Instructions**************/
.instructions {
  max-width: 42em;
}
.instructions ol {
  list-style: decimal;
  list-style-position: inside;
}
.instructions li {
  margin-bottom: 0.5em;
  line-height: 1.4em;
}
.instructions pre {
  background: #eee;
  color: #333332;
  padding: 20px;
  border-radius: 3px;
  overflow: auto;
}
/************End Instructions**************/


h3 {
  .label {
    font-size: .5em;
    position: relative;
    bottom: .25em;
    left: .5em;

  }
}

h1 {
  sub {
    padding: .75em 0;
    display: block;
    bottom: 0;
    left: 0;
    font-size: .5em;
    color: #666;
  }
  margin-bottom: .75em;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #efefef;
  color: #333;
  height: 100%;

  .scroll {
    height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -1.1em;
  }


.timeline  {
    a {
      -webkit-transition: all .5s;
         -moz-transition: all .5s;
          -ms-transition: all .5s;
           -o-transition: all .5s;
              transition: all .5s;
      &.active {
        background-color: #FFF;
        margin-right: -4em;
        margin-left: -1em;
        padding-left: 1em;
        padding: 1em;
      }
    }
  }

}

#details {
  padding: 2em 4em;
}
