// mixins

mixin btn(href, name)
  a(class!=attributes.class, href=href)= name


// common head
doctype
head
  //link(rel='stylesheet', href='css/style.css')
  //link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

// common body
body
//  +btn('http://rftb.github.io/Winchester-Timeline', 'Back')(class="btn btn-default")