!= partial("_common")
  :markdown

.alert.alert-danger Need Vertically resized animation for smaller

    # Animation

    ## Homepage
    Parrallax mouse reactive

    ### CTAs
    grow vertically from bottom to reveal text
