!= partial("_common")
h1 Front End
.alert.alert-danger Need Design : Locations Layout
.alert.alert-danger Need Design : Lawyers Layout
.alert.alert-danger Need Design : Single Lawyer Layout
.alert.alert-danger Need Content : Practice Areas


:markdown
  ## Layouts
  ### Interior General i.e. Experience
  - nav
  - header
  - accordion
  ### Lawyers
  ### Home
  ### Locations