!= partial("_common")
  :markdown
    # Who is WARC

    - 7 Person Law firm
    - Static HTML
    - Non-responsive

    ### Project Goals
    - Provide a clean and professional, technology savvy design that highlights HRchitect’s full cycle HCM consulting services.

    ### Strong call-to-actions to:
    - HRMS
    - Talent and Onboarding
    - Talent Management
    - Workforce Management
    - Clients
    - Vendors
    - HRchitect Blog
    - Displaying HRchitect’s services in a concise and intriguing way.
    - Utilize Marketo as an analytics, email marketing, and landing page resource.
