!= partial("_common")

:markdown
    # Scope
    - Static HTML
    - Google Map (3)
    - vCards for each Lawyer
    - Content Accordion
    - Security / Anti-SPAM
    - Backup
    - SEO
    - Speed Optimization
    - Content Input
    - Hosting & DNS Setup
    - Server Config
    - Analytics

.alert.alert-danger Not Responsive
.alert.alert-danger No CMS
